<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="index.html"><span class="fa fa-area-chart"></span> Admin<span class="dashboard_text">Məlumatlar paneli</span></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="sidebar-menu">
                <li class="header">MENYULAR</li>
                <li class="treeview">
                    <a href="/Admin/Index/">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/Admin/AboutIndex/">
                        <i class="fa fa-book"></i> <span>Haqqımızda</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/Admin/CategoryIndex/">
                        <i class="fa fa-bars"></i> <span>Kateqoriyalar</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/Admin/ContactIndex/">
                        <i class="fa fa-phone"></i> <span>Bizimlə Əlaqə</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/Admin/MessagesIndex/">
                        <i class="fa fa-envelope"></i> <span>Mesajlar</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/Admin/ProductIndex/">
                        <i class="fa fa-shopping-cart"></i> <span>Məhsullar</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/Admin/UserIndex/">
                        <i class="fa fa-user"></i> <span>İstifadəçilər</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/Home/Index/">
                        <i class="fa fa-home"></i> <span>Sayta keç</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</aside>