@model DTO.EntityDTO.UserDTO
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="login">

	<div class="main-agileits">
		<div class="form-w3agile">
			<h3>Giriş Et Formu</h3>
			<form method="post">
				<div class="key">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<input type="text" asp-for="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<div class="clearfix"></div>
				</div>
				<div class="key">
					<i class="fa fa-lock" aria-hidden="true"></i>
					<input type="password" asp-for="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
					<div class="clearfix"></div>
				</div>
				<input type="submit" value="Login">
			</form>
		</div>
		<div class="forg">
			<a href="#" class="forg-left">Forgot Password</a>
			<a href="register.html" class="forg-right">Register</a>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
