
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!--content-->
<div class="content-top ">
    <div class="container ">
        <div class="spec ">
            <h3>Məhsullarımız</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class="tab-head ">
            <nav class="nav-sidebar">
                <ul class="nav tabs ">
                    <li class="active"><a href="#tab1" data-toggle="tab">Staples</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab">Snacks</a></li>
                    <li class=""><a href="#tab3" data-toggle="tab">Fruits & Vegetables</a></li>
                    <li class=""><a href="#tab4" data-toggle="tab">Breakfast & Cereal</a></li>
                </ul>
            </nav>
            <div class=" tab-content tab-content-t ">
                <div class="tab-pane active text-style" id="tab1">
                    <div class=" con-w3l">
                        <div class="col-md-3 m-wthree">
                            <div class="col-m">
                                <a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
                                    <img src="~/Tema/images/of.png" class="img-responsive" alt="">
                                    <div class="offer"><p><span>Offer</span></p></div>
                                </a>
                                <div class="mid-1">
                                    <div class="women">
                                        <h6><a href="single.html">Moong</a>(1 kg)</h6>
                                    </div>
                                    <div class="mid-2">
                                        <p><label>$2.00</label><em class="item_price">$88.50</em></p>
                                        <div class="block">
                                            <div class="starbox small ghosting"> </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="add">
                                        <button class="btn btn-danger my-cart-btn my-cart-b " data-id="1" data-name="Moong" data-summary="summary 1" data-price="1.50" data-quantity="1" data-image="images/of.png">Add to Cart</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="head-t"></div>