@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<partial name="~/Views/Partials/HeaderPartial.cshtml" />
<body>

    <partial name="~/Views/Partials/NavBarPartial.cshtml" />

    <partial name="~/Views/Partials/SliderPartial.cshtml" />


    @RenderBody()

    <!--footer-->
    <partial name="~/Views/Partials/FooterPartial.cshtml" />

    <partial name="~/Views/Partials/ScriptPartial.cshtml" />

    <!-- product -->
    @await Component.InvokeAsync("DetailList" , new {id=5})
</body>
</html>
