
<div class="footer">
    <div class="container">
        
        @await Component.InvokeAsync("AboutList")
        <div class="col-md-3 footer-grid ">
            <h3>Səhifələr</h3>
            <ul>
                <li><a href="/Home/Index/">Ana Səhifə</a></li>
                <li><a href="/About/Index/">Haqqımızda</a></li>
                <li><a href="/Contact/Index/">Bizimlə Əlaqə</a></li>
                <li><a href="/Login/SignIn/">Daxil ol</a></li>
                <li><a href="/Login/SignUp/">Qeydiyyat</a></li>
            </ul>
        </div>
        @await Component.InvokeAsync("FooterCategoryList")
        <div class="clearfix"></div>
        <div class="footer-bottom">
            <h2><a href="/Home/Index/">Big Store<span>Onlayn Super Market</span></a></h2>
            <p class="fo-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
            <ul class="social-fo">
                <li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
            @await Component.InvokeAsync("ContactList")
        </div>
        <div class="copy-right">
            <p> &copy; @DateTime.Now.Year Big store. Bütün hüquqlar qorunur | Design by  <a href="https://github.com/ArizCefDev"> Ariz Ceferli</a></p>
        </div>
    </div>
</div>