<a href="/Offer/Index/"><img src="~/Tema/images/download.png" class="img-head" alt=""></a>
<div class="header">

    <div class="container">

        <div class="logo">
            <h1><a href="/Home/Index/">Big Store<span>Onlayn Super Market</span></a></h1>
        </div>
        <div class="head-t"></div>

        <div class="nav-top">
            <nav class="navbar navbar-default">

                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav ">
                        <li class=" active"><a href="/Home/Index/" class="hyper "><span>Ana səhifə</span></a></li>

                        @await Component.InvokeAsync("NavCategoryList")
                        <li><a href="/About/Index/" class="hyper"> <span>Haqqımızda</span></a></li>
                        <li><a href="/Contact/Index/" class="hyper"> <span>Bizimlə Əlaqə</span></a></li>
                        <li><a href="/Login/SignIn/" class="hyper"> <span>Daxil ol</span></a></li>
                        <li><a href="/Login/SignUp/" class="hyper"> <span>Qeydiyyat</span></a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="/Admin/Index/" class="hyper"> <span>Admin</span></a></li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("User"))
                        {
                            <li><a href="/Login/LogOut/" class="hyper"> <span>Çıxış et</span></a></li>
                        }
                    </ul>
                </div>
            </nav>
            <div class="cart">

                <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
