<div data-vide-bg="/Tema/video/video">
    <div class="container">
        <div class="banner-info">
            <h3>Sərfəli qiymət. Yüksək kefiyyət </h3>
            <div class="search-form">
                <form action="#" method="post">
                    <input type="text" placeholder="Məhsul axtar..." name="Search...">
                    <input type="submit" value=" ">
                </form>
            </div>
        </div>
    </div>
</div>


<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<script src="~/Tema/js/jquery.vide.min.js"></script>