@model IEnumerable<DTO.EntityDTO.ContactDTO>

<div class=" address">
   @foreach (var item in Model)
    {
        <div class="col-md-4 fo-grid1">
            <p><i class="fa fa-home" aria-hidden="true"></i>@item.Address</p>
        </div>
        <div class="col-md-4 fo-grid1">
            <p><i class="fa fa-phone" aria-hidden="true"></i>@item.Phone</p>
        </div>
        <div class="col-md-4 fo-grid1">
            <p><a href="mailto:@item.Mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>@item.Mail</a></p>
        </div>
    }
    <div class="clearfix"></div>

</div>